<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Bank By ID Page</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->
<br>

<table class="table banquetable">
    <tr>
        <td><h3>Details for {{banque.BanqueName}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>BanqueName</td>
        <td>{{banque.BanqueName}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{banque.Description}}</td>
    </tr>
</table>
