<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Category By ID Page</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->
<br>

<table class="table categorytable">
    <tr>
        <td><h3>Details for {{category.CategoryName}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>CategoryName</td>
        <td>{{category.CategoryName}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{category.CategoryDescription}}</td>
    </tr>
</table>
