<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Category By ID Page</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->
<br>

<table class="table companytable">
    <tr>
        <td><h3>Details for {{company.CompanyName}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Company Name</td>
        <td>{{company.CompanyName}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{company.Address}}</td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>{{company.PhoneNumber}}</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>{{company.Country}}</td>
    </tr>
</table>
