<section id="error-page">
    <div class="error-page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <div class="bg-404">
                            <div class="error-image">
                                <img class="img-responsive" src="images/404-bg.png" alt="">
                                <a href="#" class="btn btn-common" ng-show="userInfo.isAuthenticated" ng-click="logout()">SIGN OUT</a>
                                <!--<a href="#" class="btn btn-common" ng-hide=" userInfo.isAuthenticated" ng-click="login()">SIGN IN</a>-->

                            </div>
                        </div>
                        <div class="social-link">
                            <span><a href="#"><i class="fa fa-facebook"></i></a></span>
                            <span><a href="#"><i class="fa fa-twitter"></i></a></span>
                            <span><a href="#"><i class="fa fa-google-plus"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
