<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Task By ID Page</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->
<br>

<table class="table tasktable">
    <tr>
        <td><h3>Details for {{task.TaskName}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Task Name</td>
        <td>{{task.TaskName}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{task.Description}}</td>
    </tr>
    <tr>
        <td>Plan</td>
        <td>{{task.Plan}}</td>
    </tr>
    <tr>
        <td>Goals</td>
        <td>{{task.Goals}}</td>
    </tr>
    <tr>
        <td>Start Date</td>
        <td>{{task.StartDate}}</td>
    </tr>
    <tr>
        <td>Dead Line</td>
        <td>{{task.DeadLine}}</td>
    </tr>
    <tr>
        <td>Estimated Time</td>
        <td>{{task.EstimatedTime}}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{task.StateString}}</td>
    </tr>
    <tr>
        <td>Complexity</td>
        <td>{{task.ComplexityString}}</td>
    </tr>
    <tr>
        <td>Team Leader</td>
        <td>{{task.TeamLeader}}</td>
    </tr>
    <tr>
        <td>Project</td>
        <td>{{task.Project}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" href="#/editTask/{{task.TaskID}}">Edit</a>
</div>