<div class="form-group">
    <label for="TeamName" class="col-sm-2 control-label">Team Title</label>
    <div class="col-sm-10">
        <input type="text" ng-model="team.TeamName" class="form-control" id="TeamName" placeholder="Team Title Here"/>
    </div>
</div>

<div class="form-group">
    <label for="TeamDescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="team.TeamDescription" class="form-control" id="TeamDescription" placeholder="Team Description"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save team"/>
    </div>
</div>