<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">User By ID Page</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->
<br>

<table class="table usertable">
    <tr>
        <td><h3>Details for {{user.FullName}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Full Name</td>
        <td>{{user.FullName}}</td>
    </tr>
    <tr>
    <tr>
        <td>User Name</td>
        <td>{{user.Username}}</td>
    </tr>
    <tr>
        <td>Bio</td>
        <td>{{user.Bio}}</td>
    </tr>
    <tr>
        <td>UPN</td>
        <td>{{user.UPN}}</td>
    </tr>
    <tr>
        <td>User Type</td>
        <td>{{user.UserType}}</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>{{user.Country}}</td>
    </tr>
</table>
