<!-- index.html -->
<!DOCTYPE html>
<html ng-app="PMTooLApp">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | PMTooL</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/netdna.bootstrapcdn.com_font-awesome_4.0.0_css_font-awesome.css" rel="stylesheet">
    <!--<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->



    <!--[if lt IE 9]>
    <script src="js/min/html5shiv.js"></script>
    <script src="js/min/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">




    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-resource.js"></script>
    <script src="js/libs/angular-route.min.js"></script>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />-->

    <!-- SPELLS -->
    <!-- load angular and angular route via CDN -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>-->

    <!-- Application.js -->
    <script src="js/app.js"></script>


    <script src="js/libs/adal.js"></script>
    <script src="js/libs/adal-angular.js"></script>

    <!-- Controllers.js -->
    <script src="js/controllers/mainController.js"></script>
    <script src="js/services/services.js"></script>



</head>
<body ng-controller="mainController">
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 overflow">
                <div class="social-icons pull-right">
                    <ul class="nav nav-pills">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-6 overflow">
                <div class="social-icons pull-left">
                    <ul class="nav nav-pills">
                        <p>Hello SIR <bold>{{userInfo.userName}}</bold></p>
                    </ul>
                </div>
        </div>
    </div>
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <h1><img src="images/logo.png" alt="logo"></h1>
                </a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#/viewLogin">Home</a></li>
                    <li><a href="#/banques">Banques</a></li>
                    <li><a href="#/categories">Categories</a></li>
                    <li><a href="#/companies">Companies</a></li>
                    <li><a href="#/users">Users</a></li>
                    <li><a href="#/projects">Projects</a></li>
                    <li><a href="#/tasks">Tasks</a></li>
                    <li><a href="#/teams">Teams</a></li>
                    <!--<li><a href="#/login">login</a></li>-->
                    <!--<li><a class="btn btn-link" ng-hide=" userInfo.isAuthenticated" ng-click="login()"><i class="icon-user-plus"></i> Login</a></li>-->
                    <!--<li><a class="btn btn-link" ng-show="userInfo.isAuthenticated" ng-click="logout()"><i class="icon-switch2"></i> Logout</a></li>-->
                </ul>
            </div>
        </div>
    </div>
        </div>
</header>
<!--/#header-->

<div id="main">

    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ng-view></div>

</div>


<br>
<br>


<script type="text/javascript" src="js/min/jquery.js"></script>
<script type="text/javascript" src="js/min/bootstrap.min.js"></script>
<script type="text/javascript" src="js/min/lightbox.min.js"></script>
<script type="text/javascript" src="js/min/wow.min.js"></script>
<script type="text/javascript" src="js/min/main.js"></script>
</body>
</html>